html {
  text-align: center;
}

body {
  margin: 0px;
  margin: 30px;
  padding: 15px;
  border-radius: 6px;

  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  font-family: sans-serif;
  font-size: 1.1rem;
}

#ultimate-container {
  display: grid;
  grid-template-columns: 200px 1000px;
}

.container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-template-rows: 50px 225px 300px;
  text-align: center;
  transition-property: filter;
  transition-duration: 0.1s;

  grid-column: 2;
}

#main-title {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;

  margin: 10px;

  text-align: center;
}

#budget-error-msg {
  grid-column: 3 / span 3;
  grid-row-start: 1;
  grid-row-end: 1;
  visibility: hidden;

  text-align: center;

  padding: 10px 75px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  width: auto;
  background-color: rgba(200, 20, 20, 0.1);
  color: rgb(250, 20, 20);
  font-weight: bold;
}

#expenses-error-msg {
  grid-column: 3 / span 3;
  grid-row-start: 1;
  grid-row-end: 1;
  visibility: hidden;

  text-align: center;

  padding: 10px 75px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  width: auto;
  background-color: rgba(200, 20, 20, 0.1);
  color: rgb(250, 20, 20);
  font-weight: bold;
}

#budget-field {
  grid-column: 1 / span 2;
  grid-row-start: 2;
  grid-row-end: 2;

  margin: 30px;
  margin-bottom: 50px;
  padding-left: 15px;
  border: 2px solid green;
  border-radius: 6px;

  text-align: left;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
}

#budget-title {
  font-size: 1.1rem;
  margin: 10px;
  margin-left: 0px;
}

#expenses-name-main {
  grid-column: 1 / span 2;
  grid-row-start: 3;
  grid-row-end: 3;

  margin: 30px;
  padding: 15px;
  border: 2px solid red;
  border-radius: 6px;

  text-align: left;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
}

#expenses-title {
  margin: 10px;
  margin-left: 0px;
  font-size: 1.1rem;
}

#expenses-cost-field {
  margin: 10px;
  margin-left: 0px;
  font-size: 1.1rem;
}

#budget-display {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

#expenses-display {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

#balance-display {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#balance-display-amount {
  color: red;
}

#balance-number {
  display: inline;
}

#expenses-list-name {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;

  list-style-type: none;
  padding-left: 0px;
}

#expenses-list-cost {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;

  list-style-type: none;
  padding-left: 0px;
}

.expense-label {
  font-weight: bold;
  font-size: 26.4px;
  padding: 0px;
}

#expenses-name-label {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;

  list-style-type: none;
  padding: 0px;
}

#expenses-cost-label {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;

  list-style-type: none;
  padding: 0px;
}

li {
  padding: 5px 0px;
}

#popup-window {
  position: relative;
  top: 75px;
  visibility: hidden;
  grid-column: 1;
  height: 470px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  transition-property: background;
  transition-duration: 0.8s;
}

#menu-list {
  position: relative;
  top: 50px;
  text-align: left;
  font-weight: bold;
  padding: 0px 20px;
  list-style-type: none;
  visibility: hidden;
}

#change-window {
  position: absolute;
  float: left;
  grid-column: 1;
  visibility: visible;
  margin: 10px;
}
